@import "~styles/mixins";
@import "~styles/colors";

.container {
  display: grid;
  gap: 1.5rem;
}

.accessoryItem {
  @include column;
  @include rounded;
  gap: 1rem;
  padding: 2rem 1.5rem;
  font-weight: 700;
  border: 2px solid $lightGray;
  cursor: pointer;

  &[data-checked="true"] {
    border: 2px solid $primary;
  }
}

.name {
  font-size: 1.1rem;
}

.price {
  color: $textLight;
}

.checkbox {
  @include square(30px);
  @include rounded;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.44, 1.39);
  border: 2px solid $lightGray;

  &[data-checked="true"] {
    transform: scale(1.4);
    background-color: $primary;
    border: 2px solid $primary;
  }
}

@include desktop {
  .container {
    padding: 4rem 3.5rem;
  }

  .accessoryItem {
    flex-direction: row;

    .name {
      font-size: 1.7rem;
      margin-right: auto;
    }

    .price {
      font-size: 1.7rem;
      color: black;
      margin-right: 1rem;
    }
  }
}
