@import "~styles/mixins";
@import "~styles/colors";

.container {
  display: grid;
  gap: 1.5rem;
}

.accessoryItem {
  @include column;
  @include rounded;
  gap: 1rem;
  padding: 2rem 1.5rem;
  font-weight: 700;
  border: 2px solid $lightGray;

  &[data-checked="true"] {
    border: 2px solid $primary;
  }
}

.price {
  color: $textLight;
}

.checkbox {
  @include square(30px);
  @include rounded;
  border: 2px solid $lightGray;

  &[data-checked="true"] {
    transform: scale(1.4);
    background-color: $primary;
    border: 2px solid $primary;
  }
}
