@import "~styles/mixins";

.container {
  @include column;
  align-items: stretch;
  gap: 1rem;
}

.sectionTitle {
  text-transform: uppercase;
  margin-bottom: 2rem;

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2px;
    background-color: black;
    margin-bottom: 0.6rem;
  }
}

.carPicture {
  width: 100%;
}

.colorRow {
  @include row;
  gap: 1rem;
}

.colorCircle {
  @include circle(2rem);
}

.colorDescription {
  text-transform: capitalize;
}
