@import "~styles/mixins";
@import "~styles/colors";

.container {
  @include column;
  align-items: stretch;
  max-width: 1000px;
  padding-bottom: 4rem;

  & > li {
    margin-bottom: 2rem;
  }
}

.sectionTitle {
  text-transform: uppercase;
  margin-bottom: 2rem;

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2px;
    background-color: $lightGray;
    margin-bottom: 0.6rem;
  }
}

.carPicture {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 750px;
}

.modelDescription {
  color: $textLight;
  line-height: 1.6rem;
  margin-top: 0.7rem;
}

.colorRow {
  @include row;
  gap: 1rem;
}

.colorDescription {
  text-transform: capitalize;
}

.accessories {
  color: $textLight;
}

@include desktop {
  .container {
    margin-top: 12rem;
    margin-bottom: 4rem;
    gap: 2rem;

    & > li {
      @include column;
    }
  }

  .modelName {
    font-size: 2.5rem;
  }

  .modelDescription {
    padding: 0 4rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
  }

  .colorDescription {
    font-size: 1.5rem;
  }

  .accessories {
    font-size: 1.2rem;
  }
}
