@import "~styles/mixins";

.container {
  @include debug;
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
}

.title {
  text-transform: capitalize;
}

.links {
  display: none;
}

.backButton {
  grid-column: span 2;
}

.stepCounter {
  justify-self: end;
}
