@import "~styles/mixins";
@import "~styles/colors";

.container {
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.title {
  text-transform: capitalize;
  font-weight: 400;
}

.links {
  display: none;
}

.backButton {
  @include rounded;
  grid-column: span 2;
  padding: 0.7rem;
  background-color: $textLight;
  color: white;
  position: relative;

  .iconContainer {
    transform: rotate(180deg);
    position: absolute;
    left: 1rem;
  }
}

.stepCounter {
  justify-self: end;
  color: $textLight;
}
