@import "~styles/mixins";
@import "~styles/colors";

.container {
  background-color: white;
  width: 100%;
  display: grid;
  grid: 1fr / 1fr 1fr;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  padding: 2rem 0 1rem 0;
}

.titleMobile {
  text-transform: capitalize;
  font-weight: 400;
}

.titleDesktop {
  display: none;
}

.links {
  display: none;
}

.backButton {
  @include rounded;
  cursor: pointer;
  grid-column: span 2;
  padding: 0.7rem;
  background-color: $textLight;
  color: white;
  position: relative;
  display: none;

  &[data-step="0"] {
    display: block;
  }

  &:hover {
    background-color: $textLight;
    color: white;
  }
}

.iconContainerLight {
  transform: rotate(180deg) translateY(50%);
  position: absolute;
  left: 1rem;
  top: 50%;
}

.iconContainerDark {
  display: none;
  transform: rotate(180deg) translateY(50%);
  position: absolute;
  left: 1rem;
  top: 50%;
}

.stepCounter {
  justify-self: end;
  color: $textLight;
}

@include desktop {
  .container {
    @include column;
    padding: 2.5rem;
    position: fixed;
    top: 0;
  }

  .titleMobile {
    display: none;
  }

  .titleDesktop {
    display: block;
    content: "asd";
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .backButton {
    display: block;
    padding-left: 2rem;
    border: 2px solid $textLight;
    background-color: white;
    color: $textLight;
    position: absolute;
    left: 1rem;

    &:hover .iconContainerDark {
      display: none;
    }
  }

  .iconContainerDark {
    display: block;
  }

  .stepCounter {
    display: none;
  }

  .links {
    @include row;
    text-transform: uppercase;
    gap: 1rem;
    color: $textLight;
    font-weight: 700;
    font-size: 0.9rem;

    li {
      cursor: pointer;
      padding: 0.5rem;
      transition: all 0.3s ease;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $primary;
      }

      &[data-selected="true"] {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }
}
