@import "~styles/mixins";
@import "~styles/colors";

// **** Mobile ****

.container {
  @include column;
  margin-bottom: 4rem;
}

.carImage {
  width: 100%;
  max-width: 700px;
  margin: 4rem 0;
}

.colorsRow {
  @include row;
  gap: 0.5rem;
}

// **** Desktop ****

@include desktop {
  .container {
    padding: 0 10rem;
    margin-top: 8rem;
  }
}
