@import "~styles/mixins";
@import "~styles/colors";

.container {
  @include column;
  margin-bottom: 4rem;
}

.carImage {
  width: 100%;
  max-width: 700px;
  margin: 4rem 0;
}

.colorsRow {
  @include row;
  gap: 0.5rem;
}

// TODO: fix using concentric circles
.colorCircle {
  @include circle(2rem);
  border: 2px solid $lightGray;
  position: relative;
  cursor: pointer;

  .innerCircle {
    @include circle(1.8rem);
    border: 2px solid white;
    position: absolute;
  }

  &[data-selected="true"] {
    border: 2px solid $primary;
  }
}

@include desktop {
  .container {
    padding: 0 10rem;
  }

  .colorCircle {
    @include circle(50px);

    .innerCircle {
      @include circle(48px);
    }
  }
}
