@import "~styles/mixins";
@import "~styles/colors";

.container {
  @include row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  box-shadow: 0px -2px 25px 6px #b1b1b18a;
  background-color: white;

  button {
    @include fill;
    @include center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.backButtonBig {
  @include fill;
}

.footerNav {
  @include row;
  @include fill;
  margin-left: auto;
}

.backButtonSmall {
  display: none;
}

.carInfo {
  display: none;
}

@include desktop {
  .container {
    height: 100px;
    padding: 0 2rem;

    button {
      @include rounded-full;
      height: 3.5rem;
      width: 11rem;
      position: relative;

      .buttonText {
        position: absolute;
        left: 2rem;
      }
    }
  }

  .footerNav {
    width: auto;
    height: auto;
  }

  .backButtonBig {
    display: none;
  }

  .backButtonSmall {
    @include circle(3.5rem);
    background-color: $lightGray;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
    display: block;

    .iconContainer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
    }

    .buttonText {
      display: none;
    }
  }

  .carInfo {
    @include row;

    img {
      padding-right: 2rem;
      height: 80px;
      border-right: 1px solid $lightGray;
    }
  }

  .totalPrice {
    margin-left: 2rem;

    span {
      color: $textLight;
    }

    h2 {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
