@import "~styles/mixins";

.container {
}

.pageContent {
  position: relative;
  @include fill;
  @include column;
  gap: 1rem;

  & > * {
    // to fix page transitions overlaps
    position: absolute;
  }
}
