@import "~styles/mixins";
@import "~styles/colors";

.container {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 5rem;
}

.modelContainer {
  @include column;
  @include rounded;
  cursor: pointer;
  padding: 3rem 1.5rem;
  gap: 1rem;
  border: 2px solid $lightGray;
  max-width: 420px;
  transition: all 0.3s ease-out;

  .modelName {
    font-size: 2rem;
  }

  .iconContainer {
    display: none;
  }

  &[data-checked="true"] {
    border: 2px solid $primary;

    .iconContainer {
      display: block;
    }
  }
}

.modelImage {
  width: 100%;
  margin: 1rem 0;
}

.price {
  color: $textLight;
}

.radioButton {
  @include circle(2rem);
  border: 2px solid $lightGray;
  transition: all 0.3s ease-out;

  &[data-checked="true"] {
    transform: scale(1.4);
    background-color: $primary;
    border: 2px solid transparent;
  }
}

@include desktop {
  .container {
    @include center;
    @include row;
    place-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    margin-top: 8rem;
  }
}
